* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

.menu-container {
  color: #fff;
  background-color: #5995Da;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.links {
  border: 1px solid #fff;
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header-container div {
  border: 1px solid #5995DA;
  padding: 6px;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid-container {
  border: 1px solid #5995DA;
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
  align-items: center;
}

.photo-grid-item {
  border: 1px solid #5995DA;
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

.subscribe,
.social {
  align-self: flex-end;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}
/* 
.footer-three {
  flex: 2;
}
 */

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}
.signup-second {
  margin-left: auto;
}